header{
    background-color: rgba(84, 84, 84, 0.975);
}

#contenedorTituloYTextoCambiante{
    display: flex;
    justify-content: center;
}

#titulo{
    font-size: 2em;
}

.opciones{
    border: 1px solid grey;
    padding: 1em;
    border-radius: 5px;
}

a {
    color: black;
}